name: Publish To GHCR

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:
      
permissions:
  contents: read
  packages: write

env:
  CONTAINER_REGISTRY: "ghcr.io"
  CONTAINER_REPOSITORY: "lancemccarthy/vulnogram"
  DOCKERFILE_PATH: "Dockerfile"
  GHCR_PACKAGE_NAME: "vulnogram"
  GHCR_DELETE_UNTAGGED_OLDER_THAN_DAYS: "7"

jobs:
  dockerfile_to_dockerhub:
    name: "Dockerfile Build and Publish"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Get package metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{env.CONTAINER_REGISTRY}}/${{env.CONTAINER_REPOSITORY}}
        tags: |
          type=raw,value=latest
          type=ref,event=branch
          type=sha,format=short

    - name: Login to ghcr.io
      uses: docker/login-action@v3
      with:
        registry: ${{env.CONTAINER_REGISTRY}}
        username: ${{github.actor}}
        password: ${{secrets.GITHUB_TOKEN}}

    - name: Build and Publish arm64 and amd64 Images
      uses: docker/build-push-action@v5
      with:
        context: .
        platforms: linux/arm64,linux/amd64
        push: true
        tags: ${{steps.meta.outputs.tags}}

    - name: Delete untagged GHCR versions older than retention
      uses: LanceMcCarthy/actions/cleanup-ghcr-images@v0.0.1
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        ghcr-package-name: ${{env.GHCR_PACKAGE_NAME}}
        retention-days: ${{env.GHCR_DELETE_UNTAGGED_OLDER_THAN_DAYS}}

